ul {
  list-style: none;
}



h1 ,
div{
    text-align: center;
}


.slick {
    width: 800px;
    margin: 0 auto;
}

.slide-arrow{
  position: absolute;
  top: 50%;
  margin-top: -15px;
  cursor: pointer;
}

.prev-arrow{
  left: -40px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 15px solid #113463;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.next-arrow{
  right: -40px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 15px solid #113463;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

